# sample .env file
PORT=3000

#  Environment variables for database connection
db_USER_NAME= userName
db_PASSWORD= password 
db_HOST_NAME= dbName.vm6lwbl.mongodb.net
db_NAME= dataBase_Name
db_CLUSTER_NAME= clusterName